<h3>グループ名の編集</h3>

<div>
  <!--グループ作成機能-->
  <%= form_with(model: @group, local: true) do |f| %>
    <div class="input-group mb-3" data-toggle="popover" data-placement="top" data-content="同じ名称のグループは作成できません  1~9文字まで">
      <%= f.text_field :name, type:"text", class:"form-control" %>
      <div class="input-group-append">
        <%= f.submit '更新', class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
</div>