<h3>管理者リスト　-　<%= @group.name %></h3>

<div>
  <% @group.users.each do |user| %>
    <h3>
      <%= user.name %>
      <% if @group.owner_id == user.id %>
        <span class="badge badge-success">owner</span>
      <% end %>
    </h3>
  <% end %>
</div>