<h3 class="offset-2">管理者プロフィール</h3>

<div class="col-8 offset-2 mt-5">

    <div class="form-group row">
      <div class="col-4">プロフィール画像</div>
      <div class="col-8"><%= attachment_image_tag @user, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: "no_image.jpg", class:"rounded-circle img-thumbnail" %></div>
    </div>

    <div class="form-group row mt-3">
      <div class="col-4">名前</div>
      <div class="col-8"><%= @user.name%></div>
    </div>

    <% if @user.id == current_user.id %>
      <div class="form-group row mt-3">
        <div class="col-4">メールアドレス</div>
        <div class="col-8"><%= @user.email %></div>
     </div>
    
      <div class="form-group row mt-3">
        <div class="col-4"></div>
        <div class="col-8">
          <p><%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-outline-danger btn-sm mt-3" %></p>
        </div>
      </div>
    <% end %>
</div>