<div class="row mt-5">
  <div class="col mr-2 shadow-lg rounded order-1">
    <h4 class="alert alert-info mt-3">サイト概要</h4>
    <h5>
      このサイトは食材の管理を目的としたサイトです。<br>
      購入した食材情報を入力し、カレンダーと連携することで食材の期限を見逃すことを軽減でき、
      情報入力の際に食材の写真やコメントを登録できるので、何を登録したのか分かりやすく管理できます。<br>
      <br>
      また、一つのカレンダーを複数のユーザーで共有管理することが出来ます。<br>
      家族や知り合いで管理することが出来るので、食材の重複や在庫切れなどを減らすことができます。</h5>
    <h4 class="alert alert-info">テーマを選んだ理由</h4>
    <h5>
      私は一人暮らしをしているのですが食材の期限を切らしてしまう事が多く、
      食材を購入する際に家に何があるかを確認できるアプリケーションがあれば便利だと考えました。<br><br>

      一人暮らしでの食材管理も大変ですが食材を複数人で管理する場合、
      同じ食材を重複して購入してしまったり、 食材の量が多く各個人が把握できていない場合があると思います。<br><br>

      そんな時に食材管理を家族などで行えるアプリケーションがあれば、 
      無駄な食材廃棄や家計の助けにもなると考えこのテーマにしました。
    </h5>
  </div>
  <div class="col-lg-4 shadow-lg rounded order-2">
    <div class="row m-3">
      <div id="example-2" class="carousel slide" data-ride="carousel" data-pause=hover style="width:400px">
        <ol class="carousel-indicators">
          <li data-target="#example-3" data-slide-to="0" class="active"></li>
          <li data-target="#example-3" data-slide-to="1"></li>
          <li data-target="#example-3" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag'sax1.jpg', size:'500x380', class:"rounded-circle img-thumbnail" %>
          </div>
          <div class="carousel-item">
            <%= image_tag'sax2.jpg', size:'500x380', class:"rounded-circle img-thumbnail" %>
          </div>
          <div class="carousel-item">
            <%= video_tag("/videos/sax-v.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content rounded-circle img-thumbnail', size:'500x380') %>
          </div>
          <a class="carousel-control-prev" href="#example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col text-center">制作</div>
      <div class="col text-center font-italic">sugar</div>
    </div>
    <div class="row mt-2">
      <div class="col text-center">年齢</div>
      <div class="col text-center">22歳(作成時)</div>
    </div>
    <div class="row mt-2">
      <div class="col text-center">出身</div>
      <div class="col text-center">愛知県</div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col text-center">趣味</div>
      <div class="col text-center">サックス・ランニング</div>
    </div>

  </div>
</div>